<html>
<head> 
    <title>
        Forgot Password
    </title>
    <style>
  	body {
  background: #f0f0f0;
  font-family: sans-serif;
}
.form-container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form input, form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
form button {
  background: skyblue;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background:green;
}
  	</style>
</head>
   </head>
<body>
  <div class="form-container">
    <h2>Forgot Password</h2>
    <form action="/Forgotpassword" method="POST">
      <input type="email" name="email" placeholder="Enter your email" required />
      <input type="text" name="username" placeholder="Enter your username" required />
      <input type="password" name="newPassword" placeholder="Enter New Password" required/>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</body>
</html>