<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
  <title>Reset Password with OTP</title>
</head>
<body>

  <h2>Reset Password</h2>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <% if (message) { %>
    <p style="color:green;"><%= message %></p>
  <% } %>

  <form action="/Forgotpassword/verify" method="POST">
    <input type="hidden" name="email" value="<%= email %>" />
    <input type="hidden" name="username" value="<%= username %>" />

    <label>OTP</label>
    <input type="text" name="otp" required />

    <label>New Password</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Change Password</button>
  </form>

</body>
</html>
