<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="stylee.css">
</head>
<body>
<h2>Login Form</h2>
<form action="/login" method="POST">
  <label for="email">Email
  <input type="email" name="email" id="email" autocomplete="email" required/>

  <label for="password">Password
  <input type="password" name="password" id="password" required/>
  </label>

  <button type="submit">Login</button>
</form>

<div>
  <p> Forgot Password ? <a href="/Forgotpassword">Forgot Password?</a></p><br>

  <p>Don't have an account? <a href="/register">Register Here</a></p>
  <br> 
  <p> Delete Account <a href="/delete-user"> Delete User</a></p>
</div>

</body>
</html>