<html>
    <head> <title> Resend OTP</title></head>

    <body>
        <form action="/resend-otp" method="GET" style="margin-top:10px;">
  <input type="hidden" name="email" value="<%= email %>" />
  <button type="submit">Resend OTP</button>
</form>

    </body>
</html>