/* Optional: Poppins font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
}

/* Navbar */
.port {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.port .logo {
    font-size: 30px;
    font-weight: 700;
}

.port ul {
    display: flex;
}

.port ul li {
    list-style-type: none;
    margin-left: 35px;
}

.port ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.port ul li:hover {
    background: red;
}

/* Home section */
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
    gap: 250px;
}

.homee h1 {
    font-size: 55px;
}

.homee h2 {
    font-size: 32px;
    margin-top: 10px;
    display: inline-block;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 10px;
    background: green;
    border: solid 2px green;
    width: 100px;
    border-radius: 40px;
    box-shadow: 0 0 10px green;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.btn:hover {
    background: transparent;
    color: green;
    box-shadow: none;
}

/* Social icons (class name same rakha hai: .homme) */
.homee .homme .sci {
    margin-left: -10px;
}

.homee .homme .sci a {
    display: inline-flex;
    padding: 8px;
    border: solid 2px green;
    border-radius: 50%;
    font-size: 20px;
    color: green;
    margin: 0 8px;
}

/* Profile image circle */
.home-img .img-box {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 32vh;
    height: 32vh;
    border-radius: 50%;
}

.home-img .img-box .img-items {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-items img {
    mix-blend-mode: lighten;
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    top: -40px;
}

/* Rotating border */
.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    transform: rotate(0deg);
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, green);
    animation: rotate-border 10s linear infinite;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box::after {
    animation-delay: -5s;
}

/* Background bars animation */
.animation {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
}

.animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(-100%);
    animation: show-bar 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bar {
    100% {
        transform: translateY(0%);
    }
}

/* Typing / text animation */
.home-info h2 span {
    display: inline-block;
    color: transparent;
    position: relative;
    -webkit-text-stroke: 1px green;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

/* FIXED: syntax error here */
@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: solid 2px green;
    color: green;
    overflow: hidden;
    white-space: nowrap;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,
    100% {
        width: 0%;
    }
    70%,
    90% {
        width: 100%;
    }
}